---
layout: default
---

<!-- 使用 Flex 布局 -->
<div style="display: flex;" data-size="test">
  <!-- 左侧区域 -->
  <div style="flex-shrink: 0; width: 400px;">

  <!-- 头像部分 -->
  {% include portrait.html lookup=page.slug style="text-align: left;" %}

  <!-- 链接部分 -->
  <div style="text-align: left; margin-left: 35px">
    {% for link in page.links %}
      {% assign key = link[0] %}
      {% assign value = link[1] %}

      {% if key == "email" %}
        <!-- 为 email 设置新配置 -->
        <!-- 为 email 设置新配置，text 显示为 email + value -->
        {% assign email_text = "Email:" | append: value %}
        {% include button.html type=key link=value text=email_text style="bare" tooltip=value %}
      {% else %}
        {% include button.html type=key link=value style="bare" tooltip=value %}
      {% endif %}
      <br>
    {% endfor %}
  </div>

  <!-- 用于调整高度的空内容 -->
    <div style="height: 100%;"></div>
  </div>

  <!-- 右侧内容区域 -->
  <div style="flex-grow: 2;" data-size="test">
    {{ content }}


{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

{% capture search -%}
  research/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
{%- endcapture %}

<p class="center">
  <a href="{{ search | relative_url }}">
    Search for {{ page.name | default: page.title }}'s papers on the Research page
  </a>
</p>

{% capture search -%}
  blog/?search={{ page.name }}
{%- endcapture %}

    </div>
</div>
<!--
<p class="center">
  <a href="{{ search | relative_url }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
